*                   @yeheskieltame
/contracts/         @ghozzza
/packages/escrow/   @ghozzza
/apps/arbiter/      @ghozzza
/apps/web/          @AdityaWisnuu
/apps/api/          @yeheskieltame
/apps/mcp/          @yeheskieltame
/packages/core/     @yeheskieltame
/apps/agent/        @ghozzza
/apps/landing/      @Lexirieru
